.Korzina {
    z-index: 90;
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    overflow-y: scroll;
    border-radius: 10px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 0px;
    top: 0px;
    
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.korz_wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 70;
}

.summary {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    margin-top: 70px;
}

.pustoi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pustoi img {
    width: 100%;
    height: 60%;
}

.pusto {
    margin-top: 30px;
    text-align: center;
}

.Cart_sum {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.Cart_close {
    font-size: 50px;
    background: none;
    border: none;
    color: rgb(1, 51, 1);
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 5px;
    left: 5px;
    top: 5px;
}

.Korzina_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.cart_ghost {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 80;
    background: none;
    border: none;
    backdrop-filter: blur(2px) brightness(80%);
}

.Korzinka_items h3 {
    margin-top: 15px;
    font-size: 24px;
}

.Korzinka_items h1{
    align-self: center;
    margin: 10px 0;
}

.Korzinka_items {
    width: 60%;
    padding: 20px;
    box-shadow: 6px 6px 6px 6px rgb(167, 167, 167);
    border-radius: 10px;
}

.Korzinka_items button {
    font-size: 30px;
    padding: 5px;
}

.Korzinka_items img {
    width: 90%;
    padding: 10px 0;
}

.Foorm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderbtn {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(1, 92, 1);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(156, 156, 156);
}

.orderbtn:hover {
    background-color: rgb(1, 51, 1);
}

.orderinput {
    width: 60%;
    font-size: 19px;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    box-shadow: 4px 4px 4px 4px rgb(170, 170, 170);
}

.errors {
    color: red;
    margin: 20px;
    text-align: center;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: none;

}

::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgb(190, 188, 188);
    
}

@media (max-width: 720px) {
    .Korzina {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: none;
    }
    .Korzina_card {
        flex-direction: column;
        align-items: center;
    }
    .Korzinka_items {
        width: 70%;
    }
    .Korzinka_items img {
        width: 150px;
    }
    .Korzinka_items h3 {
        font-size: 15px;
    }
    .Korzinka_items h1 {
        font-size: 22px;
    }
    .Korzinka_items button {
        font-size: 18px;
        padding: 5px;
    }
    .summary {
        font-size: 20px;
    }
    .orderbtn {
        margin-bottom: 150px;
    }
}